<table class="table table-striped">
	<tr>
		<td>Valid</td>
		<td>{{{ valid }}}</td>
	</tr>
	<tr>
		<td>E.164</td>
		<td>{{{ e164 }}}</td>
	</tr>	
	<tr>
		<td>National</td>
		<td>{{{ national }}}</td>
	</tr>
	<tr>
		<td>International</td>
		<td>{{{ international }}}</td>
	</tr>
	<tr>
		<td>Type</td>
		<td>{{{ type }}}</td>
	</tr>
</table>